#home.html (website_pages/templates/website_pages/home.html) 
{% extends 'layout.html' %} 
{% block title %}Home{% endblock %} 
{% block content %} 
<h1>Welcome to East Point College of Engineering and Technology <h1> 
<p>Empowering students with a blend of knowledge and innovation. </p> 
<p>Nestled in the bustling city of Bengaluru, our campus is a hub of academic excellence and 
cutting-edge research.</p> 
<h2>Discover Your Potential</h2> 
<ul> 
<li><strong>Undergraduate Programs:</strong> Dive into our diverse range of engineering 
courses designed to fuel your passion and drive innovation.</li> 
<li><strong>Postgraduate Programs:</strong> Advance your expertise with our 
specialized master's programs and embrace leadership in technology.</li> 
</ul> 
<p>Join our vibrant community where ideas flourish and inventions come to life in our state-ofthe-art labs and research centers.</p> 
<p>Benefit from our strong industry ties and placement programs that open doors to exciting 
career opportunities.</p> 
{% endblock %}
#about_us.html (website_pages/templates/website_pages/about_us.html) 
{% extends 'layout.html' %} 
{% block title %}About Us{% endblock %} 
{% block content %} 
<h1>Our Legacy</h1> 
<p>Founded on the principles of quality education and societal contribution, we've been at the 
forefront of technological education for over four decades.</p> 
<h1>Vision and Mission</h1> 
<p>Our vision is to be a beacon of knowledge that lights the way for aspiring minds, and our 
mission is to nurture innovative thinkers who will shape the future of technology.</p> 
<h1>Campus Life</h1> 
<p>Experience a dynamic campus life enriched with cultural activities, technical clubs, and 
community service initiatives that foster holistic development.</p> 
{% endblock %}
#contact_us.html (website_pages/templates/website_pages/contact_us.html) 
{% extends 'layout.html' %} 
{% block title %}Contact Us{% endblock %} 
{% block content %} 
<h1>Get in Touch</h1> 
<p>For admissions and inquiries, reach out to us at:</p> 
<ul> 
<li><strong>Email:</strong> admissions@eastpoint.ac.in</li> 
<li><strong>Phone:</strong> +91- 72042 29999</li> 
</ul>
<h1>Visit Our Campus</h1> 
<p>Jnana Prabha, East Point Campus, </p> 
<p> Virgo Nagar Post, Avalahalli, Bengaluru, Karnataka 560049</p> 
<p>We welcome you to be a part of our thriving community that's dedicated to creating a better 
tomorrow through technology and innovation.</p> 
{% endblock %}
